<%= form_for guide do |f| %>

  <%#  f.string   "title" %>
  <%#  f.integer  "tank_id" %>
  <%#  f.boolean  "upgrade_teir2" %>
  <%#  f.boolean  "upgrade_teir3" %>
  <%#  f.text     "description" %>
  <%#  f.string   "video" %>
  <%#  f.integer  "vote_id" %>
  <%#  f.string   "vote_third_name?" %>
  <%#  f.integer  "achievement_id" %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="dropdown">
    <%= f.label "This guide is for: " %>
    <%= f.collection_select(:tank_id, Tank.all.order(:name),:id, :name, prompt: true) %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Guide Description" %> <br>
    <%= f.text_area :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Other users will be able to upvote or down vote your guide, but you could give them an optional 3rd way to vote: " %> <br>
    <%= f.text_field :vote_third_name?, maxlength: 32, placeholder: "Optional Ex: banana bread?" %>
  </div>

  <br>
  <div class="video">
    <%= f.label "Video proof of build success?" %>
    <%= f.url_field :video, class: "proof", placeholder: "youtu.be/##########" %>
    <p>
      <strong>ALL SUBMISSIONS MUST NOW BE FULL RECORDINGS (uploaded to YouTube)</strong>
      <br>
      Currently we are only allowing the following hosts: "YouTube"
    </p>
  </div>

  <div class="actions">
    <%= f.submit "Post Your Guide!"%>
  </div>
<% end %>
