<p>
<%= link_to "Click here to make a new guide!", new_guide_path %>
</p>

<h1>Most Current Submitted Guides!</h1>

<%# Stretch Goal: add ability to show last 10 only and Top voted guides from the last month? %>

    <% @guides.each do |g| %>
        <p>
            <strong> <%= g.title %> </strong> - <%= g.tank.name %> - <%= g.updated_at %>
            <br>
            <%= link_to "View Full Guide", guide_path(g) %>
        </p>
    <% end %>
