<h1><%= @guide.title %></h1>
<h4>Created by:<strong><%= @guide.user.user_name %></strong> | on :<%= @guide.created_at %></h4>
<div>
  Tank Type:
  <h2><%= @guide.tank.name %></h2>
</div>
<br>
<div>
  Build used:
  [<%= @guide.build_text %>]
</div>
<p>
  <strong>Description:</strong><br>
  <%= @guide.description %>
</p>
<p>
  Link to the current Videos:<br>
  <%= @guide.video %>
</p>

<%= link_to "Edit this guide!", edit_guide_path(@guide) %>
<%= link_to "Delete", guide_path, method: :delete, data: { confirm: "Are you sure you want to delete this guide?"} %>
<%= link_to "Back to the list!", guides_path %>






<%# t.string   "title" %>
<%# t.integer  "tank_id" %>
<%# t.boolean  "upgrade_teir2" %>
<%# t.boolean  "upgrade_teir3" %>
<%# t.text     "description" %>
<%# t.string   "video" %>
<%# t.integer  "vote_id" %>
<%# t.string   "vote_third_name?" %>
<%# t.integer  "achievement_id" %>
<%# t.datetime "created_at",       null: false %>
<%# t.datetime "updated_at" %>
<%# t.integer  "user_id" %>
<%# t.string   "build_text" %>
